.form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
}

.univeirsity {
  display: flex;
  gap: 8px;
}
