@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader {
  display: block;
  animation: spin 1s linear infinite;
  margin-inline: auto;
}

.noDataCell {
  text-align: center;
}

.tableCellMobile {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  padding: 16px;
}

.tableCellMobileItem {
  display: flex;
  gap: 2px;
}

.tableCellMobileItemLabel {
  font-weight: 600;
}
