.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  display: block;
  animation: spin 1s linear infinite;
  margin-inline: auto;
}

.noDataCell {
  text-align: center;
}
