@keyframes scaleIn {
  from {
    transform: scale(0.3);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: #d9d9d97d;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: var(--colorBackgroundModal);
  border-radius: 12px;
  min-width: 420px;
  min-height: 300px;
  max-width: 80%;
  position: relative;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  animation: scaleIn 0.25s ease-in-out;
}

.closeButton {
  position: absolute;
  padding: 10px;
  top: 0px;
  right: 0px;
  transform: translate(100%, 0);
  color: white;
  border: none;
}

.closeButtonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--colorOverlayPrimary);
}

@media (max-width: 480px) {
  .modal {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    animation-name: slideUp;
  }

  .overlay {
    align-items: flex-end;
  }

  .closeButton {
    display: none;
  }
}
