.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--colorSeparatorPrimary);
}

.buttonLang {
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 0px;
}

.title {
  font-size: 32px;
  font-family: 'Rubik Gemstones', system-ui;
}
