body {
  --colorTextPrimary: #000000;
  --colorTextPrimaryInvariably: #000000;
  --colorTextSecondary: #818c99;
  --colorTextSubhead: #6d7885;
  --colorTextNegative: #e64646;
  --colorTextContrast: #ffffff;
  --colorTextContrastThemed: #ffffff;
  --colorTextAccentThemed: #2688eb;
  --colorBackgroundAccent: #2688eb;
  --colorBackgroundAccentThemed: #2688eb;
  --colorBackgroundAccentTint: #5a9eff;
  --colorBackgroundAccentThemedHover: #2c7cde;
  --colorBackgroundAccentThemedActive: #1e6fdb;
  --colorStrokeAccent: #2688eb;
  --colorStrokeAccentThemed: #2688eb;
  --colorBackgroundNegative: #e64646;
  --colorBackgroundNegativeHover: #d83e3c;
  --colorBackgroundNegativeActive: #c93633;
  --colorBackgroundNegativeTint: #faebeb;
  --colorStrokeNegative: #e64646;
  --colorBackgroundSecondaryAlpha: #0000000a;
  --colorBackgroundContrastSecondaryAlpha: #ffffff33;
  --colorBackgroundModal: #ffffff;
  --colorOverlayPrimary: #00000066;
  --colorFieldBackground: #f2f3f5;
  --colorBackgroundContent: #ffffff;
  --colorIconTertiaryAlpha: #0000003d;
  --colorSeparatorPrimaryAlpha: #0000001f;
  --colorSeparatorPrimary: #d7d8d9;
  --colorBackgroundSecondaryHover: #f0f2f4;
  --colorBackgroundSecondaryActive: #dcdde0;
}
